/*

    NAVIGATION

*/

.navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav a:hover{
    background-color: rgb(44, 62, 80);
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(24,188,156);
}

.navbar-inverse .navbar-nav a:before {
    font-family: FontAwesome;
    content: "\f060  ";
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: rgb(44, 62, 80);
}



/*

    SITE SETUP

*/


body {

}

/* Default link styling */
a:link {
    color: #0271fb;
}

a:visited {
    color: #bd02fb;
}

a:hover, a:focus {
    color: #000;
}

a:active {
    color: #fb0e02;
}

/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font: bold 14px Arial, sans-serif;
}

body {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    background: radial-gradient(circle, #fff 20%, #ccc);
    background-size: cover;
}

.wrap {
    width: 325px;
    height: auto;
    margin: 100px auto;
    padding: 20px 20px 9px;
    background: linear-gradient(rgba(30, 164, 247, 0.76), rgba(8, 237, 193, 0.43));
    border-radius: 3px;
    box-shadow: 0px 4px rgba(5, 98, 141, 0.65), 0px 10px 15px rgba(65, 65, 65, 0.2)
}


.top {
margin: 0 auto;
}

.top .screen {
/*    float: left;*/
/*    width: 212px;*/
	width: 95%;
	height: 40px;
    padding: 0 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
    font-size: 17px;
    line-height: 40px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: left;
    letter-spacing: 1px;
}

.clear, .delete {
    float: right;
}

.top, .rows {
    overflow: hidden;
}



.rows button  {
    float: left;
    position: relative;
    top: 10px;
    cursor: pointer;
/*    width: 66px;*/
	width: 30%;
	height: 36px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    margin: 0 7px 11px 0;
    color: #888;
    line-height: 36px;
    text-align: center;
    user-select: none;
    transition: all 0.2s ease;
}

.rows button {
	
}



/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        background: transparent !important;
    }

    html {
        background-color: #fff;
    }

    /* Hide navigation */
    nav {
        display: none;
    }

    /* Show link destinations in brackets after the link text */
    a[href]:after {
        content: " (" attr(href) ") ";
    }

    a[href] {
        font-weight: bold;
        text-decoration: underline;
        color: #06c;
        border: none;
    }

    /* Don't show link destinations for JavaScript or internal links */
    a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }

    /* Show abbr title value in brackets after the text */
    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    figure {
        margin-bottom: 1em;
        overflow: hidden;
    }

    figure img {
        border: 1px solid #000;
    }
}